<header>
    <nav>
        <a href="/" id="nav-brand">ChoreSplitter!</a>
      <div id="nav-wrapper">
             <i class="nav-btn fas fa-clipboard-list" onclick="window.location='dashboard';"></i>
             <i class="nav-btn far fa-chart-bar" onclick="window.location='leaderboard';"></i>
             <i class="nav-btn far fa-comments" onclick="window.location='chat';"></i>
             <i class="nav-btn fas fa-cog" onclick="window.location='settings';"></i>
             <button id="login-btn" onclick="window.location='auth';">Login</button>
      </div>
    </nav>
</header>