<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/chat.css">
</head>
<body>
	<%- include('partials/navbar') %>
    <main class="center">
    	<h1 class="header">Group Chat</h1>
    </main>
    <%- include('partials/footer') %>
</body>
</html>