<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <main>
        <img src="assets/home/logo.png" alt="ChoreSplitter Logo" id="logo">
        <h1 id="large-header">The Ultimate Organization Tool</h1>
        <div>
        	<button id="dashboard-btn" onclick="window.location='dashboard';">
            	<i class="fas fa-users-cog"></i> &nbspMy Dashboard
            </button>
            <button id="features-btn" onclick="window.location='features';">Features</button>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>